.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* 
.main {
  background-color: black;
  background-image: url("/whitediamond.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.carouselWidth {
  margin: 4%;
}

@media (min-width: 565px) {
  .servicesCard {
    float: right;
    height: 120%;
  }
  .servicesList {
    position: absolute;
    height: 100%;
    margin-top: 1em;
  }
}

@media (max-width: 565px) {
  .servicesCard {
    position: relative;
    height: 120%;
  }
  .servicesList {
    position: absolute;
    height: 100%;
  }

  h3 {
    font-size: 0.5em;
  }
  p {
    font-size: 0.75em;
  }
  ul li {
    font-size: 0.5em;
  }
}

@media (max-width: 700px) {
  .card-header {
    font-size: 0.75em;
  }
  h3 {
    font-size: 0.5em;
  }
  p {
    font-size: 0.75em;
  }
  ul li {
    font-size: 0.75em;
  }
}

.yellow {
  color: #ffbf00;
}

.black {
  color: black;
}
.white {
  color: white;
}

nav.border-bottom.navbar.navbar-expand-lg.navbar-light.bg-transparent a {
  background-color: black;
  color: white;
}

nav.border-bottom.navbar.navbar-expand-lg.navbar-light.bg-transparent a:hover {
  color: #ffbf00;
}
ul li {
  list-style: none;
}

.success-msg {
  color: red;
  padding: 1%, 2%;
}

.err-msg {
  color: red;
  padding: 1%, 2%;
}

.form {
  margin-left: 20%;
  margin-right: 20%;
}
